body {
  background-color: #e7dfd9;
  position: relative;
  top: 40px;
  left: 45%;
}

.record-button {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border-style: solid;
  border-color: rgba(128, 128, 128, 10%);
}

.mic-icon {
  position: relative;
  align-content: center;
  right: 5%;
  color: rgba(128, 128, 128, 10%);
}

.recording {
  width: 200px;
  height: 200px;
  border-color: #ff3131;
}

.playback {
  align-items: center;
}
